body 
{
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6E6E6E;
}
#logo {
	width: 870px;
	height: 100px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	margin: 0;
}

#logo h1 {
	float: left;
	padding-top: 45px;
}

#logo h2 {
	float: right;
	padding-top: 65px;
	font-size: 16px;
	font-weight: normal;
}

#logo h2, #logo h2 a {
	color: #939292;
}

#logo a {
	text-decoration: none;
}
#main
{
	width:960px;
}
#menu {
	width: 960px;
	height: 62px;
	margin: 0 auto;
	background: #4E9FC8 url(images/img02.jpg) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 23px 0 0 28px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0 20px 0 22px;
	background: url(images/img03.gif) no-repeat left center;
}

#menu li.first {
	background: none;
}

#menu a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}
#search {
	float: right;
	width: 200px;
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
}

#search #s {
	width: 150px;
}

#search #x {
	display: none;
}
#banner {
	width: 960px;
	margin: 0 auto;
	padding: 8px 0;
}
#page {
	width: 900px;
	margin: 0 auto;
	padding: 45px 35px 0 25px;
	background: url(images/img06.gif) no-repeat;
}

/* Content */

#content {
	float: right;
	width: 660px;
}

.post {
}

.post .title {
	margin: 0;
	padding: 20px 20px 0 20px;
}

.post .entry {
	padding: 0 20px;
}

.post .meta {
	height: 47px;
	margin: 20px 0 40px 0;
	padding: 15px 0 0 20px;
	background: url(images/img07.gif) no-repeat;
	line-height: normal;
}
#sidebar {
	float: left;
	width: 250px;
	/*background-color :#51A0CA;*/
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	/*margin-bottom: -2px;*/
	margin-top:5px;
}

#sidebar li ul {
}

/*#sidebar li li {
	margin: 0;
	padding: 0px 10px;
}*/

#sidebar li h2 {
	height: 32px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 20px;
	background: #B5D3D5 url(images/img09.jpg) no-repeat;
	font-size: 18px;
	color: #FFFFFF;
}

/*#sidebar li p {
	padding: 0 20px;
}*/

/* Calendar */

#sidebar #calendar {
	padding: 0;
}

#calendar caption {
}

/*#calendar table {
	width: 100px;
	padding: 0 20px;
	text-align: center;
}

#calendar thead th {
	border-bottom: 2px solid #F2F2F2;
	border-top: 1px solid #F2F2F2;
}

#calendar tbody td {
	padding: 5px 0;
	border-bottom: 1px solid #F2F2F2;
}

#calendar tfoot td {
	border-top: 1px solid #F2F2F2;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar a {
	font-weight: bold;
}*/

/* Footer */

#footer {
	clear: both;
	width: 870px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	background: url(images/img06.gif) no-repeat;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}
